<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.travel.mapper.BoardMapper">

	<select id="selectBoardAll" resultType="com.team.travel.domain.BoardDto">
		SELECT b.id, 
		       b.title, 
		       b.inserted, 
		       COUNT(DISTINCT r.id) numOfReply,
		       m.nickName writerNickName,
		       COUNT(f.id) hasFile 
		FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
		                  JOIN Member m ON b.memberId = m.id
		             LEFT JOIN File f ON b.id = f.boardId
		
		<!-- 키워드 검색 -->
		<if test="keyword != '%%'">
			<choose>
				<when test="type == 'all'">
					WHERE b.title LIKE #{keyword } OR
					      b.body LIKE #{keyword }
				</when>
				<when test="type == 'title'">
					WHERE b.title LIKE #{keyword }
				</when>
				<when test="type == 'body'">
					WHERE  b.body LIKE #{keyword }
				</when>
			</choose>
		</if>
		
		GROUP BY b.id
		ORDER BY b.id DESC
	</select>
	
	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		INSERT INTO Board (title, body, memberId)
		VALUES (#{title}, #{body}, #{memberId})
	</insert>
	
	<select id="selectBoardById" resultType="com.team.travel.domain.BoardDto">
		SELECT b.id, 
		       b.title, 
		       b.body, 
		       b.inserted, 
		       COUNT(r.id) numOfReply, 
		       m.id memberId,
		       m.nickName writerNickName
		FROM Board b LEFT JOIN Reply r ON b.id = r.board_id
		                  JOIN Member m ON b.memberId = m.id
		WHERE b.id = #{id}
	</select>
	
	<update id="updateBoard">
		UPDATE Board
		SET title = #{title},
			body = #{body}
		WHERE 
		    id = #{id}
	</update>
	
	<delete id="deleteBoard">
		DELETE FROM Board
		WHERE id = #{id }
	</delete>
	
	<select id="listByMemberId" resultType="com.team.travel.domain.BoardDto">
	SELECT id
	FROM Board
	WHERE memberId = #{memberId}
	</select>
	
	<delete id="deleteByMemberId">
	DELETE FROM Board
	WHERE memberId = #{memberId}
	
	</delete>
	
	<insert id="insertFile">
	INSERT INTO File (boardId, fileName) 
	VALUES (#{boardId}, #{fileName})
	</insert>
	
	<select id="selectFileByBoardId" resultType="string">
	SELECT fileName 
	FROM File
	WHERE boardId = #{boardId}
	</select>
	
	<delete id="deleteFileByBoardId">
	DELETE FROM File
	WHERE boardId = #{boardId}
	</delete>
	
	<select id="selectFileNameByBoard" resultType="string">
	SELECT fileName
	FROM File
	WHERE boardId = #{boardId}
	</select>
	
	<delete id="deleteFileByBoardIdAndFileName">
	DELETE FROM File
	WHERE boardId = #{boardId}
	  AND fileName = #{fileName}
	</delete>
</mapper>









